<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1" id="nav-title">Contact Management</span>
    <form class="form-inline">
        <button class="btn btn-outline-success btn-lg" type="button" id="index-button">// Index</button>
        <button class="btn btn-outline-success btn-lg" type="button" id="new-button">+ New</button>
    </form>
</nav>