<!DOCTYPE html>
<html>

<head>
  <title>
    IS445 Course Project
  </title>
</head>

<body>
  <h1>Alex Arguellez Course Project</h1>

  <p>Here is the link to
    <a href="contacts">Contacts List</a>
  </p>
</body>

</html>