<!DOCTYPE html>
<html>

<head>
  <title>
   Arguellez Project
  </title>
</head>

<body>
  <h1>Arguellez Project</h1>

  <p>Here is the link to
    <a href="contacts">ContactsList</a>
  </p>
</body>

</html>