<nav class="navbar navbar-dark bg-dark">
    <span class="navbar-brand mb-0 h1" id="nav-title" style="font-size: 2em">Contact Management</span>
    <form class="form-inline">
        <input type="button" class="btn btn-outline-success btn-lg" style="margin: 5px" value="// Index" onclick="location.href = '../../contacts';">
        <input type="button" class="btn btn-outline-success btn-lg" style="margin: 5px" value="+ New" onclick="location.href = 'http://localhost:3000/contacts/create';">
    </form>
</nav>